.table-component {
  margin: 20px 0;
  padding: 20px 20px 0px;
  background-color: var(--color-lightGrey);
  border: 1px solid var(--color-grey);
  box-sizing: border-box;
}

.table-container {
  margin: 0 0 20px;
}

.table-header {
  text-align: left;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
  color: var(--color-lightGreen);
  margin: 0 0 15px;
}

.row {
  position: relative;
  padding: 15px 20px;
  margin: 0 0 2px;
  text-align: left;
}

.row p {
  margin: 0;
  color: var(--color-lightGrey);
  font-weight: 600;
}

.row label {
  margin: 0;
}

.checked-row {
  background-color: var(--color-lightGreen);
}

.unchecked-row {
  background-color: var(--color-cyan);
}

.unchecked-icon {
  background: var(--color-lightGrey);
  border: 1px solid var(--color-grey);
  box-sizing: border-box;
  border-radius: 2px;
  width: 26px;
  height: 26px;
}

.checkbox-container {
  position: absolute;
  right: 20px;
  top: 15px;
}

.checkbox-container span {
  padding: 0;
}

.table-checkbox {
  padding: 0;
}

.table-button-container {
  width: 100%;
  position: relative;
  height: 48px;
  margin: 10px 0;
}

.table-button {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 160px;
  height: 48px;
  background-color: var(--color-darkGreen);
}

.table-button:disabled {
  opacity: .5;
}

.table-button p {
  margin: 0;
  font-weight: 600;
  color: var(--color-lightGrey);
}

.table-error-container p {
  font-size: 12px;
  color: darkred;
  text-align: center;
}