@import url('https://fonts.googleapis.com/css2?family=Varta:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

h2 {
  font-family: Varta;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 46px;
  color: var(--color-darkGreen);
}

h3 {
  font-family: Varta;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 32px;
  color: var(--color-lightGreen);
}

p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #2D2D2D;
}