.circle-component {
  height: 80px;
  width: 100%;
  float: left;
  margin: 0 0 16px;
  min-width: 330px;
}

.circleStyle {
  position: relative;
  padding: 10px;
  display: inline-block;
  background-color: var(--color-lightGrey);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.12);
  float: left;
}

.circle-icon-container {
  margin: 0;
  position: absolute;
  font-family: Varta;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 26px;
  color: var(--color-lightGreen);
  left: 29px;
  top: 34px;
}

.circle-icon {
  font-size: 60px;
}

.circle-text-container {
  text-align: left;
  float: left;
}

.circle-text-container p {
  color: var(--color-lightGreen);
  text-align: left;
  padding: 0 0 0 30px;
  width: 207px
}