.essentials-header {
  text-align: left;
  margin: 15px 0 0;
}

.essentials-subheader {
  font-family: Open Sans;
  text-align: left;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: var(--color-lightGreen);
  max-width: 425px;
}

.essentials-copy {
  text-align: left;
  max-width: 425px;
  margin: 0 0 40px;
}